# **Ejercicios de pair programming Módulo 2 - Sprint 2**
## **EDA I. Introducción**
---

1. Haced una exploración inicial del dataframe:
- ¿Cuál es el número de filas y columnas?

In [2]:
import pandas as pd

In [3]:
# cargamos el dataset
df_tickets = pd.read_csv('../datos/historico_tickets_limpio_pandas.csv', index_col=0)
df_tickets.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016,Abril
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016,Junio

In [4]:
print(f'Tiene {df_tickets.shape[0]} filas y {df_tickets.shape[1]} columnas')

Tiene 97386 filas y 13 columnas

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos

In [5]:
print(f'A continuación mostramos el porcentaje de nulos para las columnas \n{df_tickets.isnull().sum()/df_tickets.shape[0]*100}')

A continuación mostramos el porcentaje de nulos para las columnas
id_ticket          0.0
fecha              0.0
id_empleado        0.0
id_agente          0.0
categoría          0.0
tipo               0.0
severidad          0.0
prioridad          0.0
días_resolución    0.0
satisfacción       0.0
semestre           0.0
año                0.0
mes                0.0
dtype: float64

- ¿Qué tipos de datos hay en cada columna?

In [6]:
print(f'A continuación mostramos el tipo de datos de cada columna: \n{df_tickets.dtypes}')

A continuación mostramos el tipo de datos de cada columna:
id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

- Extraed la información general del dataframe.

In [7]:
print('A continuación mostramos algunos datos geneales del dataframe:')
df_tickets.info()

A continuación mostramos algunos datos geneales del dataframe:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 97386 entries, 0 to 29087
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        97386 non-null  object
 1   fecha            97386 non-null  object
 2   id_empleado      97386 non-null  int64
 3   id_agente        97386 non-null  int64
 4   categoría        97386 non-null  object
 5   tipo             97386 non-null  object
 6   severidad        97386 non-null  object
 7   prioridad        97386 non-null  object
 8   días_resolución  97386 non-null  int64
 9   satisfacción     97386 non-null  int64
 10  semestre         97386 non-null  object
 11  año              97386 non-null  int64
 12  mes              97386 non-null  object
dtypes: int64(5), object(8)
memory usage: 10.4+ MB

2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

In [8]:
print('A continuación extraemos en un nuevo dataframe las variables categóricas:')
df_categoricas = df_tickets.select_dtypes(include= 'object')
df_categoricas.sample(5)

A continuación extraemos en un nuevo dataframe las variables categóricas:

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
2987,GHLTNR-0043655790,2019-07-09,Acceso/Login,Solicitud,2 - Normal,3 - Alta,2º semestre,Julio
14192,SMLTNR-9243192156,2018-04-02,Acceso/Login,Solicitud,2 - Normal,2 - Media,1 semestre,Abril
19076,THLTNR-0043499191,2019-02-03,Acceso/Login,Solicitud,2 - Normal,3 - Alta,1 semestre,Febrero
834,GDLTET-8643625538,2019-06-09,Software,Solicitud,4 - Crítico,0 - Sin Asignar,1 semestre,Junio
21730,SMLTSR-3844155206,2020-11-20,Sistema,Solicitud,2 - Normal,2 - Media,2º semestre,Noviembre

In [9]:
print('A continuación extraemos en un nuevo dataframe las variables numéricas:')
df_numericas = df_tickets.select_dtypes(include= 'int')
df_numericas.sample(5)

A continuación extraemos en un nuevo dataframe las variables numéricas:

       id_empleado  id_agente  días_resolución  satisfacción   año
17263          540          5                5             4  2018
5268           546         25                3             5  2016
7198             9         26                8             5  2020
9553          1171         23                4             4  2020
17605          695         41                8             4  2018

- ¿Cuáles son los principales estádisticos de los dataframes?

In [10]:
print('A continuación mostramos los principales estadísticos de las variables categóricas:')
df_categoricas.describe().T

A continuación mostramos los principales estadísticos de las variables categóricas:

           count unique                top   freq
id_ticket  97386  97386  GDDENR-5042564453      1
fecha      97386   1827         2020-02-20    105
categoría  97386      4            Sistema  38961
tipo       97386      2          Solicitud  73138
severidad  97386      5         2 - Normal  88555
prioridad  97386      4           3 - Alta  35511
semestre   97386      2        2º semestre  49876
mes        97386     12            Octubre   8487

In [11]:
print('A continuación mostramos los principales estadísticos de las variables numéricas:')
df_numericas.describe().T

A continuación mostramos los principales estadísticos de las variables numéricas:

,count,mean,std,min,25%,50%,75%,max
id_empleado,97386.0,999.160639,577.407222,1.0,500.0,999.0,1499.0,2000.0
id_agente,97386.0,25.468856,14.449455,1.0,13.0,26.0,38.0,50.0
días_resolución,97386.0,4.552749,4.365432,0.0,0.0,4.0,7.0,21.0
satisfacción,97386.0,4.100990,1.257093,1.0,4.0,5.0,5.0,5.0
año,97386.0,2018.399164,1.393095,2016.0,2017.0,2019.0,2020.0,2020.0

- Extraed los valores únicos.

In [12]:
print('A continuación extraemos los valores únicos de las variables categóricas')
for col in df_categoricas.columns:
    print('\n------------------------------------------------------------\n')
    print(f'En la columna {col} tenemos los siguientes valores unicos:')
    print(df_categoricas[col].unique())

A continuación extraemos los valores únicos de las variables categóricas

------------------------------------------------------------

En la columna id_ticket tenemos los siguientes valores unicos:
['GDDENR-5042564453' 'GDDENR-8042508060' 'GDDESR-1342539995' ...
 'TWRTSR-9643846768' 'TWRTSR-9944138906' 'TWRTST-8643986162']

------------------------------------------------------------

En la columna fecha tenemos los siguientes valores unicos:
['2016-07-13' '2016-05-18' '2016-06-18' ... '2020-06-03' '2020-06-12'
 '2020-02-19']

------------------------------------------------------------

En la columna categoría tenemos los siguientes valores unicos:
['Acceso/Login' 'Sistema' 'Software' 'Hardware']

------------------------------------------------------------

En la columna tipo tenemos los siguientes valores unicos:
['Problema' 'Solicitud']

------------------------------------------------------------

En la columna severidad tenemos los siguientes valores unicos:
['0 - Sin Clasificar' '2 - Normal' '4 - Crítico' '3 - Mayor' '1 - Menor']

------------------------------------------------------------

En la columna prioridad tenemos los siguientes valores unicos:
['0 - Sin Asignar' '3 - Alta' '2 - Media' '1 - Baja']

------------------------------------------------------------

En la columna semestre tenemos los siguientes valores unicos:
['2º semestre' '1 semestre']

------------------------------------------------------------

En la columna mes tenemos los siguientes valores unicos:
['Julio' 'Mayo' 'Junio' 'Abril' 'Agosto' 'Marzo' 'Enero' 'Septiembre'
 'Octubre' 'Diciembre' 'Noviembre' 'Febrero']

BONUS presenta los resultados en un dataframe. Os deberá quedar algo como esto:

In [13]:
# creamos una lista con las columnas
lista_columnas = df_categoricas.columns
lista_columnas

Index(['id_ticket', 'fecha', 'categoría', 'tipo', 'severidad', 'prioridad',
       'semestre', 'mes'],
      dtype='object')

In [14]:
# extraemos en otra lista los valores únicos de cada columna
lista_resultados = []
for col in df_categoricas.columns:
    lista_resultados.append(list(df_categoricas[col].unique()))

In [15]:
# a partir de ambas listas creamos un diccionario y con éste obtenemos el dataframe
diccionario = dict(zip(lista_columnas, lista_resultados))
df_union = pd.DataFrame(diccionario.items())
df_union

           0                                                  1
0  id_ticket  [GDDENR-5042564453, GDDENR-8042508060, GDDESR-...
1      fecha  [2016-07-13, 2016-05-18, 2016-06-18, 2016-04-2...
2  categoría        [Acceso/Login, Sistema, Software, Hardware]
3       tipo                              [Problema, Solicitud]
4  severidad  [0 - Sin Clasificar, 2 - Normal, 4 - Crítico, ...
5  prioridad   [0 - Sin Asignar, 3 - Alta, 2 - Media, 1 - Baja]
6   semestre                          [2º semestre, 1 semestre]
7        mes  [Julio, Mayo, Junio, Abril, Agosto, Marzo, Ene...

In [16]:
# renombramos las columnas
df_union.rename(columns = {0: 'variable', 1: 'n_unicos'}, inplace = True)
df_union

    variable                                           n_unicos
0  id_ticket  [GDDENR-5042564453, GDDENR-8042508060, GDDESR-...
1      fecha  [2016-07-13, 2016-05-18, 2016-06-18, 2016-04-2...
2  categoría        [Acceso/Login, Sistema, Software, Hardware]
3       tipo                              [Problema, Solicitud]
4  severidad  [0 - Sin Clasificar, 2 - Normal, 4 - Crítico, ...
5  prioridad   [0 - Sin Asignar, 3 - Alta, 2 - Media, 1 - Baja]
6   semestre                          [2º semestre, 1 semestre]
7        mes  [Julio, Mayo, Junio, Abril, Agosto, Marzo, Ene...

## Conclusiones
De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.

Habiendo extraído los datos para analizarlos y hemos llegado a la conclusión de que la columna id_ticket tiene muchos datos y creemos que no resulta util para analizarla como categórica. Por otro lado, la columna fecha contiene las columnas año, mes y semestre, por lo que nos sobraría como categórica, puesto que nos bastaría con año, mes y semestre a la hora de valorar los cambios en el tiempo.
En el caso del dataframe con datos numéricos, la columna satisfacción, podríamos convertirla en categóricas si queremos obtener información más clara de las mismas.
La columna fecha, al estar en formato object, sería interesante pasarlo a datetime.