## Pair Programming ETL Carga I

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras.
üìå Nota Todo lo tendremos que hacer desde jupyter notebook

In [1]:
import pandas as pd
import mysql.connector
import os
if 'etl' not in os.getcwd():
    os.chdir('etl')

1. Cread la BBDD con el nombre de energ√≠a. La BBDD tendr√° la siguiente forma:

In [2]:
def crear_bbdd(nombre_bbdd):
    
    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab")
    
    print("Conexi√≥n realizada con √©xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [3]:
database = crear_bbdd('energia')

Conexi√≥n realizada con √©xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS energia;

2. Cread las tablas de la BBDD:
Tabla fechas
Tabla nacional_renovable_no_renovable
Tabla comunidades_renovable_no_renovable
Tabla comunidades

In [4]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    cnx = mysql.connector.connect(user='root', password=f"{contrase√±a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    
    mycursor = cnx.cursor()
    
    
    try: 
        mycursor.execute(query)
        cnx.commit() 
    
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
tabla_fechas = """CREATE TABLE IF NOT EXISTS `energia`.`fecha` (
  `idfecha` INT NOT NULL AUTO_INCREMENT,
  `fecha` DATE NOT NULL,
  PRIMARY KEY (`idfecha`))
ENGINE = InnoDB;"""

In [6]:
tabla_nacional_renov_no_renov = """CREATE TABLE IF NOT EXISTS `energia`.`nacional_renovable_no_renovable` (
  `id_nacional_renovable_no_renovable` INT NOT NULL AUTO_INCREMENT,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` DECIMAL NOT NULL,
  `fecha_idfecha` INT NOT NULL,
  PRIMARY KEY (`id_nacional_renovable_no_renovable`),
  INDEX `fk_nacional_renovable_no_renovable_fecha_idx` (`fecha_idfecha` ASC) VISIBLE,
  CONSTRAINT `fk_nacional_renovable_no_renovable_fecha`
    FOREIGN KEY (`fecha_idfecha`)
    REFERENCES `energia`.`fecha` (`idfecha`)
    ON DELETE CASCADE
    ON UPDATE CASCADE)
ENGINE = InnoDB;"""

In [7]:
tabla_comunidades = """CREATE TABLE IF NOT EXISTS `energia`.`comunidades` (
  `idcomunidades` INT NOT NULL AUTO_INCREMENT,
  `comunidad` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB;"""

In [8]:
tabla_comun_renov_no_renov = """CREATE TABLE IF NOT EXISTS `energia`.`comunidades_renovable_no_renovable` (
  `idcomunidad_renovable_no_renovable` INT NOT NULL AUTO_INCREMENT,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` DECIMAL NOT NULL,
  `fecha_idfecha` INT NOT NULL,
  `comunidades_idcomunidades` INT NOT NULL,
  PRIMARY KEY (`idcomunidad_renovable_no_renovable`),
  INDEX `fk_comunidades_renovable_no_renovable_fecha1_idx` (`fecha_idfecha` ASC) VISIBLE,
  INDEX `fk_comunidades_renovable_no_renovable_comunidades1_idx` (`comunidades_idcomunidades` ASC) VISIBLE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_fecha1`
    FOREIGN KEY (`fecha_idfecha`)
    REFERENCES `energia`.`fecha` (`idfecha`)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_comunidades1`
    FOREIGN KEY (`comunidades_idcomunidades`)
    REFERENCES `energia`.`comunidades` (`idcomunidades`)
    ON DELETE CASCADE
    ON UPDATE CASCADE)
ENGINE = InnoDB;"""

In [9]:
crear_insertar_tabla('energia', 'AlumnaAdalab', tabla_fechas)

In [10]:
crear_insertar_tabla('energia', 'AlumnaAdalab', tabla_comunidades)

In [11]:
crear_insertar_tabla('energia', 'AlumnaAdalab', tabla_comun_renov_no_renov)

In [12]:
crear_insertar_tabla('energia', 'AlumnaAdalab', tabla_nacional_renov_no_renov)

3. BONUS Insertar los datos en las tablas.
üìå Nota Esta parte del pair es optativa y no ser√° considerada para la evaluaci√≥n

In [13]:
df = pd.read_pickle("../datos/renovable_no_renovable_nacional2.pkl")
df.head(2)

,value,percentage,datetime,type,date
0,8.666705e+07,0.31,2011-01-01T00:00:00.000+01:00,Renovable,2011-01-01
0,1.926868e+08,0.69,2011-01-01T00:00:00.000+01:00,No renovable,2011-01-01

In [27]:
df['date'].unique()

array(['2011-01-01T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2014-01-01T00:00:00.000000000',
       '2015-01-01T00:00:00.000000000', '2016-01-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2019-01-01T00:00:00.000000000', '2020-01-01T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2022-01-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [21]:
df_com = pd.read_pickle("../datos/renovable_no_renovable_ccaa2.pkl")
df_com.head(2)

,value,percentage,datetime,type,ccaa,date
0,202972.89,1.0,2011-01-01T00:00:00.000+01:00,No renovable,Ceuta,2011-01-01
0,212071.91,1.0,2012-01-01T00:00:00.000+01:00,No renovable,Ceuta,2012-01-01

In [28]:
df_com['date'].unique()

array(['2011-01-01T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2014-01-01T00:00:00.000000000',
       '2015-01-01T00:00:00.000000000', '2016-01-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2019-01-01T00:00:00.000000000', '2020-01-01T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2022-01-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [16]:
for indice, fila in df.iterrows():
    
    query_fecha = f"""INSERT INTO fecha(fecha)
    VALUES("{fila['date']}");"""
    
    crear_insertar_tabla("energia", "AlumnaAdalab", query_fecha)

In [18]:
def check_comunidades(contrase√±a, nombre_bbdd):
    
    cnx = mysql.connector.connect(user='root', password=f'{contrase√±a}',
                                  host='127.0.0.1', database=f"{nombre_bbdd}")
    mycursor = cnx.cursor()


    query_existe_comunidad= f"""
            SELECT DISTINCT comunidad FROM comunidades
            """
    mycursor.execute(query_existe_comunidad)
    comunidad = mycursor.fetchall()
    return comunidad

In [19]:
check_comunidades('AlumnaAdalab', 'energia')

[]

In [24]:
for indice, fila in df_com.iterrows():
    
    query_comunidad = f"""
                INSERT INTO comunidades (comunidad) 
                VALUES ("{fila['ccaa']}");
                """
    comunidades = check_comunidades("AlumnaAdalab", "energia")
    
    if len(comunidades) == 0 or fila['ccaa'] not in comunidades[0]: 
        crear_insertar_tabla("energia","AlumnaAdalab", query_comunidad)

    else:
        print(f"{fila['ccaa']} ya esta en nuestra BBDD")

Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD
Ceuta ya esta en nuestra BBDD

In [25]:
def sacar_id_comunidad(contrase√±a, nombre_bbdd, comunidad):
    
    cnx = mysql.connector.connect(user='root', password= f'{contrase√±a}',
                                  host='127.0.0.1', database=f"{nombre_bbdd}")
    mycursor = cnx.cursor()

    query_sacar_id = f"SELECT idcomunidades FROM comunidades WHERE comunidad = '{comunidad}'"
    
    try: 
        mycursor.execute(query_sacar_id)
        id_ = mycursor.fetchall()[0][0]
        return id_
    
    except: 
        return "Sorry, no tenemos esa comunidad en la BBDD y por lo tanto no te podemos dar su id. "

In [26]:
dicc_com = {}

for com in df_com['ccaa'].unique():
    id_com = sacar_id_comunidad('AlumnaAdalab', 'energia', com)
    dicc_com[com] = id_com

print(dicc_com)

{'Ceuta': 1, 'Melilla': 2, 'Andaluc√≠a': 26, 'Arag√≥n': 50, 'Cantabria': 74, 'Castilla - La Mancha': 98, 'Castilla y Le√≥n': 122, 'Catalu√±a': 146, 'Pa√≠s Vasco': 170, 'Principado de Asturias': 194, 'Comunidad de Madrid': 218, 'Comunidad Foral de Navarra': 242, 'Comunitat Valenciana': 266, 'Extremadura': 290, 'Galicia': 314, 'Illes Balears': 338, 'Canarias': 362, 'Regi√≥n de Murcia': 386, 'La Rioja': 410}

In [ ]:
def sacar_id_fecha(contrase√±a, nombre_bbdd, fecha):
        
    cnx = mysql.connector.connect(user='root', password=f'{contrase√±a}',
                                    host='127.0.0.1', database=f"{nombre_bbdd}")
    mycursor = cnx.cursor()


    query_sacar_id = f"SELECT idtiempo FROM tiempo WHERE and fecha = '{fecha}'"
    
    try: 
        mycursor.execute(query_sacar_id)
        id_ = mycursor.fetchall()[0][0]
        return id_
    
    except: 
            return "Sorry, no tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. "

In [ ]:
dicc_fecha = {}

for  in df_com['fecha'].unique():
    id_com = sacar_id_comunidad('AlumnaAdalab', 'energia', com)
    dicc_com[com] = id_com

print(dicc_com)