# **Ejercicios de pair programming Módulo 2 - Sprint 2**
## **ETL I. Extracción - API's**
---

1. Nuestros jefes están especialmente interesados en los datos de generación de las energías renovables y no renovables a nivel nacional. En concreto, nos piden sacar toda la información para las fechas de 1 de Enero del 2011 hasta el 31 de Diciembre del 2022. De toda la información que tenemos de generación queremos la evolucion de renovable y no renovable. Además deberemos incluir una columna nueva identificando si el dato corresponde a energía renovable o no renovable. NOTA: nos piden que el código debe estar en una función. Al final deberemos tener un dataframe como el siguiente:

In [2]:
import requests
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# realizamos el proceso para un año y un elemento
url = 'https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=year'

response = requests.get(url=url)

response.status_code

response.reason

200

'OK'

In [4]:
datos_electricidad = response.json()
datos_electricidad

{'data': {'type': 'Evolución de la generación renovable/no renovable',
  'id': 'gen2',
  'attributes': {'title': 'Evolución de la generación renovable/no renovable',
   'last-update': '2019-06-12T15:32:24.000+02:00',
   'description': None},
  'meta': {'cache-control': {'cache': 'HIT',
    'expireAt': '2023-05-24T07:50:21'}}},
 'included': [{'type': 'Renovable',
   'id': '10299',
   'groupId': None,
   'attributes': {'title': 'Renovable',
    'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
    'color': '#92d050',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-12T15:32:24.000+02:00',
    'values': [{'value': 86667052.8500005,
      'percentage': 0.31024115642116423,
      'datetime': '2011-01-01T00:00:00.000+01:00'}]}},
  {'type': 'No renovable',
   'id': '10298',
   'groupId': None,
   'attributes': {'title': 'No renovable',
    'description': None,
    'color': '#666666',
    'type': 'No renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-12T15:32:24.000+02:00',
    'values': [{'value': 192686769.3500001,
      'percentage': 0.6897588435788357,
      'datetime': '2011-01-01T00:00:00.000+01:00'}]}}]}

In [5]:
datos_electricidad.keys()

dict_keys(['data', 'included'])

In [6]:
datos_electricidad['included']

[{'type': 'Renovable',
  'id': '10299',
  'groupId': None,
  'attributes': {'title': 'Renovable',
   'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
   'color': '#92d050',
   'type': 'Renovable',
   'magnitude': None,
   'composite': False,
   'last-update': '2019-06-12T15:32:24.000+02:00',
   'values': [{'value': 86667052.8500005,
     'percentage': 0.31024115642116423,
     'datetime': '2011-01-01T00:00:00.000+01:00'}]}},
 {'type': 'No renovable',
  'id': '10298',
  'groupId': None,
  'attributes': {'title': 'No renovable',
   'description': None,
   'color': '#666666',
   'type': 'No renovable',
   'magnitude': None,
   'composite': False,
   'last-update': '2019-06-12T15:32:24.000+02:00',
   'values': [{'value': 192686769.3500001,
     'percentage': 0.6897588435788357,
     'datetime': '2011-01-01T00:00:00.000+01:00'}]}}]

In [7]:
len(datos_electricidad['included'])

2

In [8]:
datos_electricidad['included'][0]

#hemos comprobado que tenemos que acceder a los dos índices que incluyen las dos categorías(renov. y no renov.)

{'type': 'Renovable',
 'id': '10299',
 'groupId': None,
 'attributes': {'title': 'Renovable',
  'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
  'color': '#92d050',
  'type': 'Renovable',
  'magnitude': None,
  'composite': False,
  'last-update': '2019-06-12T15:32:24.000+02:00',
  'values': [{'value': 86667052.8500005,
    'percentage': 0.31024115642116423,
    'datetime': '2011-01-01T00:00:00.000+01:00'}]}}

In [9]:
datos_electricidad['included'][0].keys()

dict_keys(['type', 'id', 'groupId', 'attributes'])

In [10]:
datos_electricidad['included'][0]['type']

'Renovable'

In [11]:
datos_electricidad['included'][1]['type']

'No renovable'

In [12]:
datos_electricidad['included'][0]['attributes']

{'title': 'Renovable',
 'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
 'color': '#92d050',
 'type': 'Renovable',
 'magnitude': None,
 'composite': False,
 'last-update': '2019-06-12T15:32:24.000+02:00',
 'values': [{'value': 86667052.8500005,
   'percentage': 0.31024115642116423,
   'datetime': '2011-01-01T00:00:00.000+01:00'}]}

In [13]:
datos_electricidad['included'][0]['attributes'].keys()

dict_keys(['title', 'description', 'color', 'type', 'magnitude', 'composite', 'last-update', 'values'])

In [14]:
datos_electricidad['included'][0]['attributes']['values']

[{'value': 86667052.8500005,
  'percentage': 0.31024115642116423,
  'datetime': '2011-01-01T00:00:00.000+01:00'}]

In [15]:
# convertimos a DF

df = pd.DataFrame(datos_electricidad['included'][0]['attributes']['values']) # lo mismo habría que hacer para el index 1
df.head()

          value  percentage                       datetime
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00

In [16]:
df['type'] = datos_electricidad['included'][0]['type'] # lo mismo habría que hacer para el index 1 (no renovable)
df.head()

          value  percentage                       datetime       type
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00  Renovable

In [17]:
def renovables_no_renovables(lang, category, widget, start_year, end_year, time_trunc):
    
    df_vacio = pd.DataFrame()

    for año in range(start_year, end_year+1):
        url = f'https://apidatos.ree.es/{lang}/datos/{category}/{widget}?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc={time_trunc}'
        response = requests.get(url=url)
        print(f'Status code año:{año}: {response.status_code}')
        print(f'Reason año: {año}: {response.reason}')
        
        datos_electricidad = response.json()
        df_ren = pd.DataFrame(datos_electricidad['included'][0]['attributes']['values'])
        df_ren['type'] = datos_electricidad['included'][0]['type']
        df_no_ren = pd.DataFrame(datos_electricidad['included'][1]['attributes']['values'])
        df_no_ren['type'] = datos_electricidad['included'][1]['type']
        df_vacio = pd.concat([df_vacio, df_ren, df_no_ren], axis=0)
    return df_vacio

In [18]:
df_renov_no_renov = renovables_no_renovables('es', 'generacion', 'evolucion-renovable-no-renovable', 2011, 2022, 'year')
df_renov_no_renov

Status code año:2011: 200
Reason año: 2011: OK
Status code año:2012: 200
Reason año: 2012: OK
Status code año:2013: 200
Reason año: 2013: OK
Status code año:2014: 200
Reason año: 2014: OK
Status code año:2015: 200
Reason año: 2015: OK
Status code año:2016: 200
Reason año: 2016: OK
Status code año:2017: 200
Reason año: 2017: OK
Status code año:2018: 200
Reason año: 2018: OK
Status code año:2019: 200
Reason año: 2019: OK
Status code año:2020: 200
Reason año: 2020: OK
Status code año:2021: 200
Reason año: 2021: OK
Status code año:2022: 200
Reason año: 2022: OK

          value  percentage                       datetime          type
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00     Renovable
0  1.926868e+08    0.689759  2011-01-01T00:00:00.000+01:00  No renovable
0  8.533872e+07    0.301424  2012-01-01T00:00:00.000+01:00     Renovable
0  1.977799e+08    0.698576  2012-01-01T00:00:00.000+01:00  No renovable
0  1.097577e+08    0.401622  2013-01-01T00:00:00.000+01:00     Renovable
0  1.635286e+08    0.598378  2013-01-01T00:00:00.000+01:00  No renovable
0  1.078761e+08    0.404771  2014-01-01T00:00:00.000+01:00     Renovable
0  1.586356e+08    0.595229  2014-01-01T00:00:00.000+01:00  No renovable
0  9.408811e+07    0.351792  2015-01-01T00:00:00.000+01:00     Renovable
0  1.733657e+08    0.648208  2015-01-01T00:00:00.000+01:00  No renovable
0  1.010892e+08    0.386079  2016-01-01T00:00:00.000+01:00     Renovable
0  1.607465e+08    0.613921  2016-01-01T00:00:00.000+01:00  No renovable
0  8.461087e+07    0.322566  2017-01-01T00:00:00.000+01:00     Renovable
0  1.776949e+08    0.677434  2017-01-01T00:00:00.000+01:00  No renovable
0  1.003444e+08    0.384488  2018-01-01T00:00:00.000+01:00     Renovable
0  1.606375e+08    0.615512  2018-01-01T00:00:00.000+01:00  No renovable
0  9.791330e+07    0.375393  2019-01-01T00:00:00.000+01:00     Renovable
0  1.629155e+08    0.624607  2019-01-01T00:00:00.000+01:00  No renovable
0  1.106052e+08    0.439959  2020-01-01T00:00:00.000+01:00     Renovable
0  1.407936e+08    0.560041  2020-01-01T00:00:00.000+01:00  No renovable
0  1.214591e+08    0.467130  2021-01-01T00:00:00.000+01:00     Renovable
0  1.385520e+08    0.532870  2021-01-01T00:00:00.000+01:00  No renovable
0  1.165831e+08    0.421921  2022-01-01T00:00:00.000+01:00     Renovable
0  1.597322e+08    0.578079  2022-01-01T00:00:00.000+01:00  No renovable

2. Sacaremos la misma información que en el ejericio anterior, pero en este caso por CCAA. Para esto necesitaremos los códigos de cada una de las comunidades autónomas que encontraréis en el siguiente diccionario:

In [18]:
cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

In [19]:
# realizamos el proceso para un año y un elemento para una comunidad autónoma
url2 = 'https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=year&geo_trunc=electric_system&geo_limit=ccaa&geo_ids=7'

response2 = requests.get(url=url)

response2.status_code

response2.reason

200

'OK'

In [23]:
#comprobamos que la estructura de los datos sigue siendo la misma
datos_electricidad2 = response2.json()
datos_electricidad2['included'][0]['attributes']['values']

[{'value': 86667052.8500005,
  'percentage': 0.31024115642116423,
  'datetime': '2011-01-01T00:00:00.000+01:00'}]

In [24]:
df_ren = pd.DataFrame(datos_electricidad2['included'][0]['attributes']['values'])
df_ren

          value  percentage                       datetime
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00

In [25]:
datos_electricidad2['included'][1]['attributes']['values']

[{'value': 192686769.3500001,
  'percentage': 0.6897588435788357,
  'datetime': '2011-01-01T00:00:00.000+01:00'}]

In [26]:
df_no_ren = pd.DataFrame(datos_electricidad2['included'][1]['attributes']['values'])
df_no_ren

          value  percentage                       datetime
0  1.926868e+08    0.689759  2011-01-01T00:00:00.000+01:00

In [43]:
def renovables_no_renovables_ccaa(lang, category, widget, start_year, end_year, time_trunc):
    
    cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}
    df_vacio = pd.DataFrame()

    for ccaa, geo_id in cod_comunidades.items():

        for año in range(start_year, end_year+1):
            url = f'https://apidatos.ree.es/{lang}/datos/{category}/{widget}?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc={time_trunc}&geo_trunc=electric_system&geo_limit=ccaa&geo_ids={geo_id}'
            response = requests.get(url=url)
            
            datos_electricidad = response.json()
            try:
                df_ren = pd.DataFrame(datos_electricidad['included'][0]['attributes']['values'])
                df_ren['type'] = datos_electricidad['included'][0]['type']
                df_ren['ccaa'] = ccaa
                df_vacio = pd.concat([df_vacio, df_ren], axis=0)
            
                df_no_ren = pd.DataFrame(datos_electricidad['included'][1]['attributes']['values'])
                df_no_ren['type'] = datos_electricidad['included'][1]['type']
                df_no_ren['ccaa'] = ccaa
                df_vacio = pd.concat([df_vacio, df_no_ren], axis=0)
            except:
                pass
                         
    return df_vacio

In [44]:
df_ren_no_ren_ccaa = renovables_no_renovables_ccaa('es', 'generacion', 'evolucion-renovable-no-renovable', 2011, 2022, 'year')
df_ren_no_ren_ccaa.head()

        value  percentage                       datetime          type   ccaa
0  202972.893         1.0  2011-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  212071.911         1.0  2012-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  201964.935         1.0  2013-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  212245.157         1.0  2014-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  204023.090         1.0  2015-01-01T00:00:00.000+01:00  No renovable  Ceuta

In [46]:
df_ren_no_ren_ccaa.groupby(['ccaa', 'type']).count() # comprobación

                                         value  percentage  datetime
ccaa                       type
Andalucía                  No renovable     12          12        12
                           Renovable        12          12        12
Aragón                     No renovable     12          12        12
                           Renovable        12          12        12
Canarias                   No renovable     12          12        12
                           Renovable        12          12        12
Cantabria                  No renovable     12          12        12
                           Renovable        12          12        12
Castilla - La Mancha       No renovable     12          12        12
                           Renovable        12          12        12
Castilla y León            No renovable     12          12        12
                           Renovable        12          12        12
Cataluña                   No renovable     12          12        12
                           Renovable        12          12        12
Ceuta                      No renovable     12          12        12
Comunidad Foral de Navarra No renovable     12          12        12
                           Renovable        12          12        12
Comunidad de Madrid        No renovable     12          12        12
                           Renovable        12          12        12
Comunitat Valenciana       No renovable     12          12        12
                           Renovable        12          12        12
Extremadura                No renovable     12          12        12
                           Renovable        12          12        12
Galicia                    No renovable     12          12        12
                           Renovable        12          12        12
Illes Balears              No renovable     12          12        12
                           Renovable        12          12        12
La Rioja                   No renovable     12          12        12
                           Renovable        12          12        12
Melilla                    No renovable     12          12        12
                           Renovable        12          12        12
País Vasco                 No renovable     12          12        12
                           Renovable        12          12        12
Principado de Asturias     No renovable     12          12        12
                           Renovable        12          12        12
Región de Murcia           No renovable     12          12        12
                           Renovable        12          12        12

3. Guardad los csv ya que mañana los seguiremos usando en los siguientes pairs

In [19]:
df_renov_no_renov.to_csv('../datos/renovable_no_renovable_nacional.csv')

In [47]:
df_ren_no_ren_ccaa.to_csv('../datos/renovable_no_renovable_ccaa.csv')