# **Ejercicios de pair programming Módulo 2 - Sprint 2**
## **ETL II. Transformación I**
---

In [1]:
import requests
import pandas as pd
import numpy as np
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

if 'etl' not in os.getcwd():
    os.chdir('etl')

En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD. En este momento tenemos dos fuentes de datos:
1. El csv donde tenemos la información censal de cada Comunidad Autónoma tiene algunas columnas que no son redundantes para nuestro análisis, en este csv tendremos que:  
    - Eliminar la columna de `Comunidades_y_Ciudades_Autónomas`

In [2]:
df_pobl = pd.read_csv('../datos/poblacion_comunidades.csv', index_col=0)
df_pobl.head()

  Comunidad  indice Comunidades_y_Ciudades_Autónomas   Año   Total
0     Ceuta    8744                            Ceuta  2022  83.117
1     Ceuta    8744                            Ceuta  2021  83.517
2     Ceuta    8744                            Ceuta  2020  84.202
3     Ceuta    8744                            Ceuta  2019  84.777
4     Ceuta    8744                            Ceuta  2018  85.144

In [3]:
df_pobl.drop(columns='Comunidades_y_Ciudades_Autónomas', inplace=True)
df_pobl.head()

  Comunidad  indice   Año   Total
0     Ceuta    8744  2022  83.117
1     Ceuta    8744  2021  83.517
2     Ceuta    8744  2020  84.202
3     Ceuta    8744  2019  84.777
4     Ceuta    8744  2018  85.144

2. En el csv con la información de generación de energías renovables y no renovables a nivel nacional deberéis:  
- Para las columnas `value` y `percentage`, redondear los decimales de los valores a 2.  
- La columna datetime es de tipo string, pero esto a nosotras no nos interesa. Además, en esta columna tiene tanto la fecha como la hora, pero en realidad la hora no nos esta aportando nada de información, es por esto que:  
    - Deberéis crear una columna nueva donde solo tengamos la información de la fecha en formato AÑO / MES / DIA.  
    - Una vez creada la columna anterior, convertirla a datetime.

In [4]:
df_nacional = pd.read_csv('../datos/renovable_no_renovable_nacional.csv', index_col=0)
df_nacional.head()

          value  percentage                       datetime          type
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00     Renovable
0  1.926868e+08    0.689759  2011-01-01T00:00:00.000+01:00  No renovable
0  8.533872e+07    0.301424  2012-01-01T00:00:00.000+01:00     Renovable
0  1.977799e+08    0.698576  2012-01-01T00:00:00.000+01:00  No renovable
0  1.097577e+08    0.401622  2013-01-01T00:00:00.000+01:00     Renovable

In [5]:
df_nacional.dtypes

value         float64
percentage    float64
datetime       object
type           object
dtype: object

In [6]:
df_nacional[['percentage', 'value']] = df_nacional[['percentage', 'value']].apply(lambda dato: round(dato, 2))
df_nacional.head()

          value  percentage                       datetime          type
0  8.666705e+07        0.31  2011-01-01T00:00:00.000+01:00     Renovable
0  1.926868e+08        0.69  2011-01-01T00:00:00.000+01:00  No renovable
0  8.533872e+07        0.30  2012-01-01T00:00:00.000+01:00     Renovable
0  1.977799e+08        0.70  2012-01-01T00:00:00.000+01:00  No renovable
0  1.097577e+08        0.40  2013-01-01T00:00:00.000+01:00     Renovable

In [15]:
df_nacional['date'] = df_nacional['datetime'].str.split('T', expand=True).get(0)
df_nacional.head()

,value,percentage,datetime,type,date
0,8.666705e+07,0.31,2011-01-01T00:00:00.000+01:00,Renovable,2011-01-01
0,1.926868e+08,0.69,2011-01-01T00:00:00.000+01:00,No renovable,2011-01-01
0,8.533872e+07,0.30,2012-01-01T00:00:00.000+01:00,Renovable,2012-01-01
0,1.977799e+08,0.70,2012-01-01T00:00:00.000+01:00,No renovable,2012-01-01
0,1.097577e+08,0.40,2013-01-01T00:00:00.000+01:00,Renovable,2013-01-01

In [16]:
df_nacional.dtypes

value         float64
percentage    float64
datetime       object
type           object
date           object
dtype: object

In [17]:
df_nacional['date'] = pd.to_datetime(df_nacional['date'])
df_nacional.dtypes

value                float64
percentage           float64
datetime              object
type                  object
date          datetime64[ns]
dtype: object

3. En el csv con la información de generación de energías renovables y no renovables a nivel de comunidad autónoma deberéis aplicar los mismos cambios que aplicamos en el ejercicio anterior.

In [18]:
df_ccaa = pd.read_csv('../datos/renovable_no_renovable_ccaa.csv', index_col=0)
df_ccaa.head()

        value  percentage                       datetime          type   ccaa
0  202972.893         1.0  2011-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  212071.911         1.0  2012-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  201964.935         1.0  2013-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  212245.157         1.0  2014-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  204023.090         1.0  2015-01-01T00:00:00.000+01:00  No renovable  Ceuta

In [19]:
df_ccaa.dtypes

value         float64
percentage    float64
datetime       object
type           object
ccaa           object
dtype: object

In [22]:
df_ccaa[['percentage', 'value']] = df_ccaa[['percentage', 'value']].apply(lambda dato: round(dato, 2))
df_ccaa.head()

       value  percentage                       datetime          type   ccaa
0  202972.89         1.0  2011-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  212071.91         1.0  2012-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  201964.94         1.0  2013-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  212245.16         1.0  2014-01-01T00:00:00.000+01:00  No renovable  Ceuta
0  204023.09         1.0  2015-01-01T00:00:00.000+01:00  No renovable  Ceuta

In [23]:
df_ccaa['date'] = df_ccaa['datetime'].str.split('T', expand=True).get(0)
df_ccaa.head()

,value,percentage,datetime,type,ccaa,date
0,202972.89,1.0,2011-01-01T00:00:00.000+01:00,No renovable,Ceuta,2011-01-01
0,212071.91,1.0,2012-01-01T00:00:00.000+01:00,No renovable,Ceuta,2012-01-01
0,201964.94,1.0,2013-01-01T00:00:00.000+01:00,No renovable,Ceuta,2013-01-01
0,212245.16,1.0,2014-01-01T00:00:00.000+01:00,No renovable,Ceuta,2014-01-01
0,204023.09,1.0,2015-01-01T00:00:00.000+01:00,No renovable,Ceuta,2015-01-01

In [24]:
df_ccaa.dtypes

value         float64
percentage    float64
datetime       object
type           object
ccaa           object
date           object
dtype: object

In [25]:
df_ccaa['date'] = pd.to_datetime(df_ccaa['date'])
df_ccaa.dtypes

value                float64
percentage           float64
datetime              object
type                  object
ccaa                  object
date          datetime64[ns]
dtype: object

4. Guardar los resultados obtenidos en pickle que usaremos en próximos ejercicios de pair programming. Cada fichero debe ir en un pickle

In [26]:
df_nacional.to_pickle('../datos/renovable_no_renovable_nacional2.pkl')
df_ccaa.to_pickle('../datos/renovable_no_renovable_ccaa2.pkl')